body{
    background: #0FA002;
    margin-left: 200px;
    margin-right: 200px;


}

header{
    margin-top: 50px;
}

h1{
    color: yellow;
    font-family: serif;
}

h2{
    font-family: cursive;
}

p{
    color: lightgrey;
    font-size: 18px;
}

img{
    margin-bottom: 20px;
}
