body{
    background: #0FA002;
    margin-left: 200px;
    margin-right: 200px;


}

header{
    margin-top: 50px;
}

footer{
    margin-top: 50px;
    margin-bottom: 30px
}

h1{
    color: yellow;
    font-family: serif;
}

h2{
    font-family: cursive;
}

p{
    color: lightgrey;
    font-size: 18px;
}

.img_padrao{
    margin-bottom: 20px;
    width: 640px;
}

.icone{
    width: 30px;
}
